@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* para que se ajusten los elementos en base a lo que necesitamos */
    text-align: center;
}

:root {
    --color-principal: rgb(150, 132, 115);
    --color-secundario: rgba(144, 110, 65, 0.865);
    --color-text: rgb(230, 230, 230);
}

body header img {
    width: 5rem;
    float: left;
}


body header nav {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

body header nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

body header nav ul li {
    padding: 1rem 2rem;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: var(--color-secundario);
    cursor: pointer;


    a {
        text-decoration: none;
        color: var(--color-text);
    }
}


li:hover {
    background-color: var(--color-principal);
    transform: translateY(-3px);
    color: var(--color-text);
    border: solid black;

}

.contacto {
    margin: 1rem;
}

.card {

        margin: 2rem;
    padding: 1rem;
    border: 0.25rem solid;
    border-radius: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* orden vertical */
    align-items: center;
    /* centra horizontalmente todo el contenido */
    text-align: center;
    /* centra los textos también */


}

.card p {
    font-size: 30px;
      margin-top: 1rem;

}

.card h4 {
    font-size: 30px;
}

.card div {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 1rem;
    justify-items: center;
    border: 1rem solid;
}

.card button {
        display: flex;
    align-items: center;
    gap: 0.5rem;
    /* espacio entre ícono y texto */
    background-color: var(--color-principal);
    color: white;
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;

}

/* Efecto al pasar el mouse */
.card button:hover {
    background-color: #c66912c1;
    /* un tono más oscuro o diferente */
    box-shadow: 5 10px 30px rgba(0, 0, 0, 0.2);
    /* sombra */
    transform: translateY(-3px);
    /* levanta un poco el botón */

}

.card button img {
    width: 30px;
    height: 30px;
}

/* Efecto al pasar el mouse */
.card button:hover {
    background-color: #c66912c1;
    /* un tono más oscuro o diferente */
    box-shadow: 5 10px 30px rgba(0, 0, 0, 0.2);
    /* sombra */
    transform: translateY(-3px);
    /* levanta un poco el botón */

}
section img {

    width: 300px;
    /* todas las img tiene 300px de ancho */
    height: auto;
    /* mantiene la proporción */

}


main .contenido {
    border: 0.2rem solid;
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* dos columnas: video y texto */
    align-items: center;
    /* alinea verticalmente */
    justify-items: center;
    border-radius: 1rem;
}

main video {
    width: auto;
    height: 100%;
    border-radius: 1rem;
}

main .texto {
    padding: 3rem;
    font-size: 20px;
    text-align: left;
    /* texto alineado a la izquierda */
}

main img {
    background-size: cover;
    /* Cubre todo el espacio disponible */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    width: 80%;
}

main img {
    background-size: cover;
    /* Cubre todo el espacio disponible */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    width: 80%;
}

main h2 {
    position: absolute;
    /* Permite colocar el texto en cualquier parte */
    right: 30%;
    top: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Hace que el texto se lea mejor */
}

section form {
    padding: 2rem;
    background-color: var(--color-principal);
    border: 2px solid black;
    /* grosor | estilo | color */
    border-radius: 2rem;


}
