@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

:root {
    --color-principal: rgb(150, 132, 115);
    --color-secundario: rgba(144, 110, 65, 0.865);
    --color-text: rgb(230, 230, 230);
}

body {
    background-image: url(../assets/img/wallpaper-6380532.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* ------------------- HEADER ------------------- */

header img {
    height: 2rem;
    width: 2rem;
}

header nav img {
    width: 5rem;
    float: left;
}

header nav {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 5%;
    align-items: center;
    
}

header nav ul li {
    padding: 1rem 2rem;
    background-color: var(--color-secundario);
    border: 2px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: black 2px 2px 5px;    


}

header nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    
}

header nav ul li:hover {
    background-color: #df8632c1;
    transform: translateY(-3px);
}
header div img{
    gap: 5%;
    align-items: center;
    width: 20%;
    height: 20%;
    margin: 1rem;
    border-radius: 25rem;
    border: #000000 solid 0.1rem;

}

header div h1{
    font-family:'Times New Roman', Times, serif;
    color:rgb(22, 13, 6);
    font-size: 3rem;
}


/* ------------------- CARDS ------------------- */

.productos{
    /* Usa Flexbox para la galería de cards */
    display: flex;
    /* Permite que las cards salten a la siguiente línea */
    flex-wrap: wrap; 
    /* Centra las cards horizontalmente */
    justify-content: center; 
    /* Espacio entre las cards */
    gap: 20px; 
    padding: 2rem 0;
}
.card {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    border: 0.25rem solid;
    border-radius: 15%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 194, 159);
    justify-content: center;

}

.card p {
    padding: 1rem;
    font-size: 25px;
    margin-top: 1rem;
    font-family: "Pacifico", cursive;
}

.card h4 {
    font-size: 30px;
}

.card div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    border: 0.5rem solid;

    
}

.card  span{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(201, 121, 10);
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    border: 0.2rem solid;

}


.card button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-principal);
    color: white;
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
    box-shadow: black 2px 2px 5px;    

}

.card button:hover {
    background-color: #df8632c1;
    transform: translateY(-3px);
}

.card button img {
    width: 30px;
    height: 30px;
    
}


/* ------------------- MAIN ------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contenido {
    border: 0.2rem solid;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    width: 90%;
    background-color: rgb(220, 194, 159);
}

main video {
    width: 100%;
    border-radius: 1rem;
}

main .texto {
    padding: 1rem;
    font-size: 20px;
    text-align: left;
    font-family: "Pacifico", cursive;
    font-style: oblique;
}
/* ------------------- SECCION CARRITO ------------------- */

.titulo{
    background-color: rgb(244, 207, 160);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: #000000 solid 0.1rem;    
}

#itemProducts {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background: #ffffff;
    border-radius: 12px;
    border: solid 2px #000000;
}

.tabla-carrito {
    width: 100%;
    border-collapse: collapse;
}

.tabla-carrito th {
    background: #482f1f;
    color: white;
}

.tabla-carrito th, 
.tabla-carrito td {
    padding: 10px;
    border: 1px solid #ccc;
}

.btn-limpiar {
    background: #b22222;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: black 2px 2px 5px;

}


/* ------------------- FORMULARIO ------------------- */

section form {
    padding: 2rem;
    background-color: var(--color-secundario);
    border: 2px solid black;
    border-radius: 2rem;
}

section form button {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    color: white;
    background-color: #614b36c1;
}

/* ------------------- CONTACTO ------------------- */

#Contacto {
    margin-top: 2rem;
    font-size: 20px;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: solid;
    padding: 1rem;
    background-color: rgba(150, 84, 23, 0.616);
    text-align: center;
    font-family: "Pacifico", cursive;
}

footer{
    padding: 1rem;
    background-color: var(--color-secundario);
    border-top: 0.5rem solid;
    text-align: center;
    font-size: 20px;
    font-family: "Pacifico", cursive;

}

/* ------------------- RESPONSIVE ------------------- */

/* Para tablets y teléfonos */

@media (max-width: 600px) {


    .card {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        
    }
    
    .card img {
        width: 100%;
        max-width: 250px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .card div {
        grid-template-columns: 1fr;
        /* una columna en celulares */
        gap: 1rem;
    }

    header nav {
        flex-direction: column;
        /* uno debajo del otro */
        gap: 1rem;
    }
    
    header nav ul {
        flex-direction: column;
        /* menú vertical */
        gap: 0.8rem;
    }
    
    .btn-carrito-nav {
        width: 90%;
        justify-content: center;
        padding: 0.8rem;
        font-size: 1rem;
    }
    
    .btn-carrito-nav img {
        width: 30px;
        height: 30px;
    }
}

